<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Welcome in Internalorder Table</title>
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
       <div>
       	<h2><p>Welcome To Internalorder Table</p></h2>
       </div>
        {% block content %}{% endblock %}
    </body>
</html>